<div class="container mt-5">
    <h2>{{header}}</h2>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
            <label for="">ID</label>
            <input type="text" class="form-control" [ngModel]="student.id" name="id">
        </div>
      
        <div class="form-group">
            <label for="">COURSE</label>
            <input type="text" class="form-control" [ngModel]="student.course" name="course">
        </div>
        <div class="form-group">
            <label for="">DURATION </label>
            <input type="text" class="form-control" [ngModel]="student.duration" name="duration">
        </div>
        <div class="form-group">
            <button class="btn btn-success">SAVE</button>
        </div>
    </form>
</div>
